[Desktop Entry]
Type=Application
Name=Lumi
Comment=A modern Plex client for desktop and mobile
Exec=lumi
Icon=lumi
Terminal=false
Categories=AudioVideo;Video;Player;
Keywords=plex;media;streaming;video;
StartupWMClass=lumi
